@use '../base/variables' as v;
@use '../base/mixins' as m;

.galeria{
    @include m.contenedor;

    &-imagen{
        @include m.telefono{
            @include m.grid(1)
        }

        @include m.table{
            @include m.grid(2)
        }
        @include m.desktop{
            @include m.grid(4)
        }
    }

    img{
        height: 20rem;
        object-fit: cover;
    }
}

.btn-cerrar{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color:v.$blanco ;
    border: none;
    color: v.$negro;
    display: grid;
    place-items: center;
    font-weight: 700;
    cursor: pointer;
    
}

.modal{
    position: fixed;
    inset:0;
    background-color: rgb(v.$negro, 0.5);
    display: grid;
    place-items: center;
    animation: fadeIn ease-in 0.05;
    &.fade-out{
        animation: fadeOut ease-in 0.05;
    }
    img{
        max-width: 100rem;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
         opacity:1 ;
    }
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
         opacity:0 ;
    }
}